/*stylesheet*/


html {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    flex: 1;
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
}

.header .logo h1{
    font-size: 24px;
    color: #f9faf8;
}

.header .header-links {
    display: flex;
    color: #e5e7eb;
    font: 18px;
    gap: 15px;
}

.header .header-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.s1 {
    flex-wrap: wrap;
    display: flex; 
    justify-content: center;
    gap: 10%;
    align-items: flex-start;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;   
    padding-top: 90px;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 120px;
}

.s1-left {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    
    }

.s1-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0px;
    margin-top: 0;
}

.s1-left button {
    background-color: #3882f6;
}

.s1-right {
    flex-basis: 45%;
    flex-direction: column;
    height: 222px;
    width: 523px;
}

.s1-right img {
    max-height: 233px;
    max-width: 516px;
    margin: 10px;
}

button {
    width: fit-content;
    border: none;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-weight: bolder;
    font-size:large;
}

.s2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 200px 100px 200px;
    text-align: center;
}

.s2 h1 {
    font-size: 36px; 
    font-weight: bolder;
    color: #1f2937;
}

.s2 .cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: black;
}

.s2 .cards .card {
    flex-basis: 15%;
    box-sizing: content-box;
    color: black;

}

.card img {
    max-width: 200px;
    border-radius: 10px;
}

.s3 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.s3 blockquote {
    flex-basis: 70%;
    margin-bottom: 0px;
}

.s3 cite {
    flex-basis: content;
    font-size: 28px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 15%;
}


.s4 {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 70px 80px 70px 80px;
    
}

.s4 #callaction {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    background-color: #3882f6;
    padding: 40px 80px 40px 80px;
    border-radius: 10px;
}

#cactiontext.h1, #cactiontext.p {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #e5e7eb;
}

.s4 button {
    border: solid white;
    margin-left: auto;
}

.footer {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 30px;
    padding-bottom: 30px;
}