/*stylesheet*/

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
    gap: 40% ;
}

. header h1 {
    flex-basis: 35%;
    font: 240px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    color: white;
    flex-basis: 35%;
    font: 18px;
    gap: 15px;
}

a {
    color: white;
}

.s1 {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
}

.s1-left {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.s1-right {
    flex-basis: 40%;
}

.s2 {

}

.s3 {

}

.s4 {

}

.footer {
    background-color: #1f2937;
}