/*stylesheet*/

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
}

.logo {
    flex-basis: 35%;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    flex-basis: 35%;
    display: flex;
    color: #e5e7eb;
    font: 18px;
    gap: 15px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.s1 {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
}

.s1-left {
    flex-basis: 35%;
    display: flex;
    align-items:baseline;
    flex-direction: column;
    gap: -15px;
    }

.s1-right {
    flex-basis: 35%;
    flex-direction: column;
    height: 238px;
    width: 523px;
    background-color: turquoise;
}

button {
    width: fit-content;
}

.s2 {

}

.s3 {

}

.s4 {

}

.footer {
    background-color: #1f2937;
}